<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Placid Memorial Hospital</title>
  <link rel="shortcut icon" href="/static/imgs/531686854.jpg"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    {% block css %} {% endblock%}
  </head>
  <body>
    <header>
      <!-- HEADER TO DISPLAY PAGES ASSCESSIBLE TO SECRETARIES-->
        {% include "headerS.html" %}
        
        <!-- HEADER TO DISPLAY PAGES ASSCESSIBLE TO DOCTORS AND NURSES-->
    </header>
    <main>
        
          <div >
            {% block main %}{% endblock %}</div>
        </div>
    </main>
    <footer>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.2.0.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/npm.js"></script>
    {% block js %} {% endblock%}
  </body>
</html>
