<nav class="navbar navbar-inverse">
      <div >
        <div >
          <a class="navbar-brand" href="#">COMP3161</a>
        </div>
        <div>
          <ul  class="nav navbar-nav">
            <li ><a href="{{ url_for('home') }}">Home</a></li>
            
          </ul>

          <ul  class="nav navbar-nav navbar-right">
            {% if not session.logged_in %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
</nav>
