{% extends 'base.html' %}

{% block main %}
<form class="form-login" method="post" >
  <h2>Please sign in</h2>
  {% if error %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input style="width:400px" type="text" id="username" name="username" class="form-control" placeholder="Your username" required >
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input style="width:400px"  type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <button style="width:80px" class="btn btn-default" type="submit">Sign in</button>
</form>
{% endblock %}
