{% extends 'base.html' %}

{% block main %}
<div align="center" style="margin:auto">
<form  method="post" >
    <div class="myimg">
    <img width="800" height="550" src ="/static/imgs/hos3.jpg"/>
  </div>
     <h1 class="page-header">Placid Memorial Hospital</h1><br>
  <h2>Please sign in</h2>
  {% if error %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}

  <div class="form-group">
    <label>Employee ID</label>
    <input style="width:400px" type="text" id="empID" name="empID" class="form-control" placeholder="Your employee ID number" required >
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input style="width:400px"  type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>

  <button style="width:80px" class="btn btn-primary" type="submit">Sign in</button>
</form>
</div>
{% endblock %}
