{% extends "base.html" %}

{% block main %}
<div style="padding-left:10px">
<h3> Nurses who Administered Medication </h3>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Nurse's Name</span>
  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div><br>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">YYYY/MM/DD</span>
  <input type="text" class="form-control" placeholder="Date" aria-describedby="basic-addon1">
</div>
<br><button style="width:80px" class="btn btn-default" type="submit">Search</button>

<div class= 'result'></div>

</div>
{% endblock %}

