{% extends "base.html" %}

{% block main %}

<div align="center" style="margin:auto">
    <div class="myimg">
    <img width="700" height="550" src ="/static/imgs/hos2.jpg"/>
  </div>
  
<form method="post">
  
    <h1 class="page-header">Placid Memorial Hospital</h1>
  <h2>Register Patient</h2>
  {% if error %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
  <div class="form-group">
    <label  >First Name</label>
    <input style="width:400px" type="text" id="fname" name="fname" class="form-control" placeholder="first name" required >
  </div>
   <div class="form-group">
    <label >Middle Name</label>
    <input style="width:400px" type="text" id="mname" name="mname" class="form-control" placeholder="middle name" required >
  </div>
  <div class="form-group">
    <label >Last Name</label>
    <input style="width:400px" type="text" id="lname" name="lname" class="form-control" placeholder="last name" required >
  </div>
  <div class="form-group">
    <label  >Gender </label>
    <input style="width:400px"  type="text" id="gender" name="gender" class="form-control" placeholder="Gender" required>
  </div>
  <div class="form-group">
    <label  >Date of birth </label>
    <input style="width:400px"  type="text" id="dob" name="dob" class="form-control" placeholder="YYYY-MM-DD" required>
  </div>
    <div class="form-group">
    <label >City </label>
    <input style="width:400px"  type="text" id="city" name="city" class="form-control" placeholder="city" required>
  </div>
  <div class="form-group">
    <label >Street </label>
    <input style="width:400px"  type="text" id="street" name="street" class="form-control" placeholder="street" required>
  </div>

  <div class="form-group">
    <label >Phone number</label>
    <input style="width:400px"  type="text" id="phone" name="phone" class="form-control" placeholder="Phone number" required>
  </div>

  <button style="width:80px" class="btn btn-primary" type="submit">Register</button>
</form>
</div>
{% endblock %}