<ul class="nav nav-pills nav-stacked">
  <li><a href="/patient_disease/" onclick="document.getElementById('contents1')"> Patients with selected disease </a></li>
  <li><a href="/patient_allergies/"> Patients Allergies </a></li>
  <li><a href="/allergic_medication/"> Most Allergic Medication </a></li>
  <li><a href="/patient_results/"> Patient Results </a></li>
  <li><a href="/nurse_medication/"> Nurses administered medication </a></li>
  <li><a href="/interns/"> Interns treated most patient </a></li>
</ul>